body,
html {
  background-color: white;

  font-family: system-ui;

  margin: 0px;
}

.DA {
  font-size: 20px;

  color: darksalmon;

  height: 395px;
  width: 100%;

  background-image: url("https://www.incimages.com/uploaded_files/image/1920x1080/getty_548298907_9706479704500126_78156.jpg");
}

h1 {
  padding-top: 50px;

  padding-left: 50px;

  margin-top: -4px;
}

.navi {
  background-color: darksalmon;

  color: white;

  width: 100%;

  padding-top: 20px;

  padding-bottom: 8px;

  display: inline-block;

  border-top: white 5px solid;
}

.navi a {
  color: white;

  text-decoration: none;

  padding-left: 10px;
}

.left-side {
  float: left;
}

.right-side {
  float: right;

  padding-right: 80px;
}

#mojastrona:hover {
  color: lightgray;
  opacity: 0, 9;
}

.main {
  display: block;

  text-align: center;

  margin: 0px;

  width: 100%;

  display: inline-block;

  padding: 30px 0px 30px 0px;
}

h3 {
  color: lightslategray;
  font-weight: 375;
}

.boxes {
  display: flex;
  font-family: "Times New Roman", Times;
  font-stretch: extra-condensed;
}
.box1,
.box2,
.box3 {
  background-color: linen;

  width: 100%;

  padding: 0px 10px 0px 10px;

  margin: 10px 10px 10px 10px;

  outline: lightslategrey;
}

.box1:hover {
  transform: scale(1.1);
}

.box2:hover {
  transform: scale(1.1);
}

.box3:hover {
  transform: scale(1.1);
}

.boxes {
  padding: 20px 40px;
}

.footer {
  display: flex;
  background-color: darksalmon;
}
.footer1 {
  width: 100%;

  padding: 0px 10px 0px 10px;

  margin: 10px 10px 10px 10px;
}

.footer2 {
  width: 100%;
  padding: 145px 9px 0px 121px;
  margin: 10px 10px 10px 10px;
}

.footer3 {
  width: 100%;

  padding: 0px 10px 0px 10px;

  margin: 10px 10px 10px 10px;
}
button {
  background-color: black;
  border: none;
  color: white;
  font-size: 12px;
  height: 35px;
  width: 90px;
}

button:hover {
  opacity: 0.9;
}
