body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif; /*system-ui;*/
  margin: 0px;
}

.image {
  width: 50%;
  background-size: cover;
  background-position: center;
  background-image: url(./images/gym.jpg);
  overflow: hidden;
  border-radius: 0px 5px 5px 0px; /*tylko to mi pomogło 
  wstawić zaokrąglenie rogów przy obrazku*/
}

.wrapper {
  display: flex;
  min-width: 612px;
  min-height: 510px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 7px rgba(100, 96, 106, 0.2);
}
.logo {
  margin: 0px;
  padding: 40px 180px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  width: 50%;
  padding: 0px 20px 0px 20px;
}
.register-trainer {
  font-size: 14px;
  font-weight: bolder;
  padding-bottom: 20px;
  margin-top: -10px;
}

.social-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.fb,
.insta {
  width: 260px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #413fb5;
  padding: 5px 5px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
}

.fb {
  margin-bottom: 10px;
}

.divider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  margin-top: -20px;
  margin-bottom: -20px;
}

h4 {
  font-size: 8px;
}

.divider-line {
  height: 1px;
  background-color: black;
  width: 31%;
}

.row {
  display: flex;
  justify-content: flex-start;
}

.first-name,
.last-name {
  width: 125px;
}

.row input:first-of-type {
  margin-right: 10px;
}
input {
  margin-bottom: 15px;
  width: 260px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 7px;
  border: 1px solid lightgrey;
  font-size: 13px;
}

.consent {
  display: flex;
  font-size: 9px;
  justify-content: flex-start;
  align-items: center;
  margin-left: 8px;
  font-stretch: expanded;
  font-weight: 600;
}

.consent div {
  margin-left: 5px;
}

input[type="checkbox"] {
  width: auto;
  margin: 0;
}

button {
  padding: 10px 30px;
  width: 260px;
  border-radius: 5px;
  border: 1px solid #413fb5;
  background-color: #413fb5;
  margin-top: 20px;
  font-size: 11px;
  font-weight: 600;
  color: white;
}

.footer {
  display: flex;
  margin-top: 20px;
  font-size: 9px;
  font-weight: 600;
}

a {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid #413fb5;
}

.link {
  border-bottom: 2px solid #413fb5;
  margin-left: 2px;
}
