body {
  margin: 10px 0px 10px 0px;
  background-color: navajowhite;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.containerUp {
  display: flex;
  justify-content: space-evenly;
  background-color: brown;

  width: 100vw;
  height: 46vh;
  align-items: center;
}

.containerDown {
  display: flex;
  justify-content: space-evenly;
  background-color: brown;

  width: 100vw;
  height: 46vh;
  align-items: center;
}

.containerLight {
  background-color: navajowhite;
  height: 30%;
  width: 80%;
}

.container {
  background-color: navajowhite;
}

.item {
  background-color: brown;
}
