body {
  margin: 10px 0px 10px 0px;
  background-color: navajowhite;
  width: 100vw;
}

.containerUp,
.containerDown {
  display: flex;
  justify-content: space-evenly;
  background-color: brown;

  width: 100vw;
  height: 46vh;
  align-items: center;
}

.container {
  background-color: navajowhite;
  height: 39vh;
  width: 30vw;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.item1 {
  background-color: brown;
  height: 7vh;
  width: 25vw;
}
.item2 {
  height: 5vh;
  background-color: brown;
  height: 23vh;
  width: 25vw;
}
