body {
  margin: 0;
}

.container {
  padding: 20px;
  box-sizing: border-box;
  background-color: blueviolet;

  width: 80vw;
  height: 80vh;

  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
}

.item {
  flex: 1;
  font-size: 30px;
  padding: 40px;
}

.item:nth-of-type(4n) {
  background-color: coral;
}

.item:nth-of-type(4n + 1) {
  background-color: greenyellow;
}

.item:nth-of-type(4n + 2) {
  background-color: blue;
}

.item:nth-of-type(4n + 3) {
  background-color: aquamarine;
}
